<!DOCTYPE html>
<html ng-app="myApp">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.6/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script type="text/javascript" src="words.json"></script>
    <script type="text/javascript" src="wordsWithTranslation.json"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/dataAPI.js"></script>
    <script type="text/javascript" src="js/transationAPI.js"></script>
    <link rel="stylesheet" href="./style/magstyle.css">
    <link rel="stylesheet" href="./style/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Test App</title>
</head>
<body >
    <header>
       <!--<h1>Header</h1>  -->
    </header>
    <div id="anchoriamatop"></div>
    <a id="upmeBtn" href="#anchoriamatop">Up</a>
    <div id="main"  ng-controller="myCtrl">
        <div class="lookingFor">
            <input id="search" type="text" ng-model="search" placeholder="&#xF002;"  style="font-family:Arial, FontAwesome" 
            ng-change=" change('search')" my-enter="findTranslation({{search}})"/>
        </div>
        <div class="wordBlock" ng-hide="record.isHiden" ng-repeat="record in filtered =  (records  | filter: {word : search})" >
            <div style="margin:15px 0;display:inline-block;">
                 <span id="anchor{{record.word}}"  class="delete" style="font-weight:800; font-size:30px;"  ng-model="record.word">{{ record.word }}
                    &nbsp;
                    <i id="delete" class="fa fa-trash-o" aria-hidden="true" ng-click="deleteRow(record.word)"></i>
                </span>
                <span>&#09; &#9866;</span>
                <span id="translation" ng-bind-html="renderHtml(record.translation)">
                     {{record.translation}}
                </span>
            </div>
            <div class="container">
                <div class="row">
                    <div>
                        <span id="definition" ng-bind-html="renderHtml(record.definition)">{{record.definition}}</span>
                        <p id="sentence" ng-bind-html="renderHtml(record.sentence)">{{record.sentence}}</p>
                    </div>
                </div>
            </div>
        </div> 
        <p ng-hide="filtered.length"  >
           <p ng-hide="filtered.length" ng-cloak> No results! </p>
            <div ng-if="filtered.length==0 ||filtered.length==1" class="addNewWord">
                 <h1 class="u-padding-T-xl">
                   <b id="word" ng-model="newWord.word">{{ newWord.word }}</b>
                </h1>
                <div class="container">
                <div class="row">
                    <div>
                        <span id="translation" ng-bind-html="renderHtml(newWord.translation)">{{newword.translation}}</span>
                        <span id="definition" ng-bind-html="renderHtml(newWord.definition)">{{newword.definition}}</span>
                        <p id="sentence" ng-bind-html="renderHtml(newWord.sentence)">{{newWord.sentence}}</p>
                    </div>
                </div>
            </div>
            </div>
        </p>
    </div>

</body>
</html>