body{
    /*font-family: Tahoma, Verdana, Geneva, sans-serif;*/
    /*font-size: 50;*/
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 0;
    padding: 10px;
     position: fixed;
    top: 0px;
    left: 0px;
    height: 80px;
    overflow: hidden;
    width: 100%;
    background-color: white;
    font-family: 'Indie Flower', cursive;
}

header h1{
    font-size: 34px;
    margin-left: 40px; 
}

/*Button to go up*/
#upmeBtn{
    position: fixed;    
    bottom: 30px;
    right: 40px;
}

#upmeBtn:link, #upmeBtn:visited{
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.19);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#upmeBtn:hover, #upmeBtn:active{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(0, 0, 0, 0.19);
}

#iamatop{
    position: absolute;
    top: 0px;
}

/*dictionary*/
#main{
    margin-top: 105px;
}

div.lookingFor{
    position: fixed;
    top: 30px;
    left: 30px;
    /*margin: 5px 25px;*/
}

input#search, .addNewWord input{
  height:20px; 
  width:220px; 
  padding:5px 8px;
  background:#fff;
  border:2px ;
  border-color: #fff;
  vertical-align: center;
  border-bottom: 1px solid  #aaa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: padding .25s;
}

input#search .empty{
    /*font-family: FontAwesome;*/
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

input#search.transition:focus {
   background: #fff; 
   border-bottom: 2px solid  #cc6600;
   padding-right:70px;
    background: #fff;
    box-shadow: 0 0 5px #5c5c5c;
    border-color: #2d2d2d;
}

/*input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 5px #5cd053, 0 0 0px 50px #fff inset;
} */

input#search:focus {outline: none;}

/* new word adding form*/
div.addNewWord{
    position: absolute;
    top: 5px;
    left: 300px;
    display: flex;
    width: calc(100% - 400px);
    font-size: 0.8em;
}

div.wordBlock{
    border-bottom: 1px solid lightgrey;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    /*clear: both;*/
    width: 90%;
    height: 160px;
    background-color: white;
    font-size: 16px;
}

div.wordBlock h1{
    margin: 0;
    padding: 0;
}

.roweditor{
    /*float: right;*/
    width: 3%;
    display: inline-block;
    /*float: left;*/
}

.container{
    width: 100%;
}
.container .row{
    width: 95%;
    /*float: left;*/
}

#delete:hover{
    cursor: pointer;
}

#delete {
    display: none;
}

.delete:hover > #delete {
    display: inline-block;
}


@keyframes myChange {
  from {
      height: 160px;
      background-color: white;
    font-size: 16px;
  }
  to {
      height: 0px;
      background-color: rgb(195, 195, 162);
      font-size: 0px;      
      
  }
}

/*.wordBlock.ng-hide {
  animation: 1s myChange;
}*/

div.wordBlock.ng-hide {
    animation: 1s myChange;
}

